* {
  margin: 0px;
}

body {
  background-color: #ffffff;
  font-family: 'Segoe UI';
  font-size: 1.25em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h1, h2 {
  text-align: center;
}

h1 > a {
  color: black;
  text-decoration: none;
}

input {
  border-color: #e04336;
  border-radius: 6px;
  border-width: 3px;
  font-size: 0.85em;
}

#homepage > h2, #contenuto > h2 {
  color: white;
  font-family: 'Baloo Bhaijaan 2', cursive;
  padding-bottom: 1em;
  padding-top: 1em;
}

.button {
  font-size: 0.85em;
  text-decoration: none;

  background-color: #e04336;
  border-radius: 6px;
  border: 2px;
  color: white;
  cursor: pointer;
  padding: 7px 18px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #bd3c31;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.centrato {
  text-align: center;
}

.giustificato {
  text-align: justify;
}

.contenitore {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.contenitore > div {
  margin-left: 10%;
  margin-right: 10%;
  width: 50%;
}

.contenitore > div > h3 {
  padding-bottom: 1em;
}

.contenitore > div > img {
  height: 400px;
}

.contenitore > div > p > button {
  margin-top: 2em;
}

.ml-8 {
  margin-left: 8px;
}

.ml-32 {
  margin-left: 32px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-8 {
  margin-bottom: 8px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-64 {
  padding-top: 64px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-32 {
  padding-bottom: 32px;
}

.scatola {
  border-color: #e04336;
  border-radius: 6px;
  border-style: ridge;
  border-width: 6px;
}

.outline-font {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1.2px red;
}

.hr-corsi {
  border-radius: 4px;
  border-top: 2px solid rgb(197, 3, 3);
}

.prezzo {
  font-style: italic;
}

#griglia-info {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5.5em;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 3.5em;
  width: 70%;
}

#griglia-info > div {
  align-content: center;
  text-align: center;
}

#tabella-orari {
  border-collapse: collapse;
}

#tabella-orari th, #tabella-orari td {
  border: 1px solid #e04336;
  padding: 0.1em 1em;
  text-align: center;
  width: max-content;
}

#header {
  background-color: #e04336;
}

#header > h1 {
  padding: 0.75em;
}

#header > h1 > a {
  color: white;
  font-family: 'Rampart One', cursive;
}

#header > hr {
  border-radius: 5px;
  border-top: 4px solid #e64646;
}

#menu {
  margin-bottom: 1.2em;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}

#menu > tbody > tr > td {
  text-align: center;
  width: 20%;
}

#menu > tbody > tr > td > a {
  border-radius: 6px;
  border: 2px;
  color: white;
  font-size: 1.25em;
  padding: 7px 18px;
  text-decoration: none;
}

#menu > tbody > tr > td > a:hover {
  border-style: solid;
}

#contenuto {
  background-color: #f0d3d6;
  padding-bottom: 1em;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 1em;
  width: 80%;
}

#contenuto > h2 {
  color: #e04336;
}

#lista-servizi > li {
  list-style-type: "\1F3CB";
  padding: 0.2em 0.5em;
}

#homepage {
  background-image: url("res/homepage-sfondo.png");
  background-size: 100% auto;
  min-height: 50%;
  opacity: 0.9;
  padding-bottom: 15%;
  padding-top: 15%;
}

#homepage > h1 {
  color: white;
  font-family: 'Patua One', cursive;
  letter-spacing: 6px;
  text-shadow: 5px 2px 5px red;
}

#homepage > h2 {
  color: white;
  font-family: 'Baloo Bhaijaan 2', cursive;
  text-shadow: 2px 1px 2px red;
}

#footer {
  background-color: #e04336;
  color: white;
  font-size: small;
  left: 0;
  padding-bottom: 1em;
  padding-top: 1em;
  position: relative;
  text-align: center;
  top: 0;
  width: 100%;
}

#banner {
  background-color: #f0d3d6;
  padding-bottom: 64px;
}

#banner > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: left -340px;
}

#catalogo-shop {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 2em;
}

#catalogo-shop > div {
  text-align: center;
}

#catalogo-shop > div > img {
  border-color: #e04336;
  border-radius: 3px;
  border-style: ridge;
  border-width: 3px;
}

#lista-carrello > li { 
  list-style-type: "\1F6D2";
}
/*
#servizi-scritta {
  color: black;
  font-family: 'Patua One', cursive;
  letter-spacing: 6px;
  text-shadow: 2px 1px 2px rgba(9, 255, 0, 0.801);
}
*/