* {
  margin: 0px;
}

body {
  font-family: 'Segoe UI';
  font-size: 1.25em;
  background-color: #ffffff;
}

h1, h2 {
  text-align: center;
}

h1 > a {
  text-decoration: none;
  color: black;
}

div > h2 {
  font-family: 'Baloo Bhaijaan 2', cursive;
  color: white;
  padding-bottom: 1em;
  padding-top: 1em; 
}

.centrato {
  text-align: center;
}

.giustificato {
  text-align: justify;
}

.contenitore {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contenitore > div {
  width: 50%;
  margin-left: 10%;
  margin-right: 10%;
}

.contenitore > div > h3 {
  padding-bottom: 1em;
}

.contenitore > div > img {
  height: 400px;
}

.contenitore > div > p > button { /*SISTEMARE*/
  margin-top: 2em;
}


.pb-16 {
  padding-bottom: 16px;
}

.scatola {
  border-width: 6px;
  border-style: ridge;
  border-color: red;
  border-radius: 6px;
}

.outline-font {
  -webkit-text-stroke: 1.2px red;
  -webkit-text-fill-color: white;
}

#header {
  background-color: #e04336;
}

#header > h1 {
  padding: 0.75em;
}

#header > h1 > a {
  color: white;
  /*
  font-family: 'Covered By Your Grace', cursive;
  font-family: 'Nabla', cursive;
  font-family: 'Nosifer', cursive;
  */
  font-family: 'Rampart One', cursive;
}

#header > hr {
  border-top: 4px solid #e64646;
  border-radius: 5px;
}

#menu {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1.2em;
  width: 70%;
}

#menu > tbody > tr > td {
  width: 20%;
  text-align: center;
}

#menu > tbody > tr > td > a {
  text-decoration: none;
  /*
  background-color: #e04336;
  background-color: red;
  */
  color: white;
  padding: 7px 18px;
  border-radius: 6px;
  font-size: 1.25em;
  border: 2px;
}

#menu > tbody > tr > td > a:hover {
  border-style: solid;
}

#contenuto {
  background-color: #f0d3d6;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
}

#hp-bg {
  background-image: url("res/homepage-sfondo.png"); /* SISTEMARE */
  min-height: 50%;
}

#hp-bg > h2 {
  padding-top: 20%;
  padding-bottom: 20%;
}

#menu-corsi {
  text-align: center;
}

#footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #e04336;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: small;
}
